<div class="container">
  <div id="logo">
     <img src="./assets/logo.png">
  </div>
  <div id="text">
     <h1 class="bhilwaraTxt"> BHILWARA INFOTECH</h1>
  </div>
  <div class="btn">
     <a href="/login"><button type="button" class="loginBtn">LOGIN</button></a>
  </div>
</div>
<div id="second">
 <marquee><h3 class="welcometxt"> WELCOME TO BHILWARA GROUP</h3></marquee>
</div>
<div class="slides">
  <img  src="./assets/banner3.jpg">
  
</div>
<div id="final">
  <div id="div1">
     <p>Contact Number<br>
        080 4288 6666
     </p>
  </div>
  <div id="div2">
     Address<br>
     Fortune Summit Business Park, No. 244, 1st Floor,
     6th Sector, HSR Layout,<br> Silk Board Junction,
     Hosur Main Road, Bengaluru, Karnataka 560068
  </div>
  <div id="div3">
     <p>Fax<br>
        123456789
     </p>
  </div>
</div>