h1{
    text-align: center;
    color:red;
    margin-top: 200px;
}
.logout
{
    padding: 10px;
  margin-left: 650px;
  margin-top: 20px;
  cursor: pointer;
  background-color:navajowhite;
  border: none;
  box-sizing: border-box;
 
}